$base-size: 12px;

$background-medium: #f2cf8f;
$background-dark: #634206;
$background-dark-second: #c05812;

$background-accept: #008000;

$font-dark: #535c68;
$font-dark-second: #634206;
$font-medium: #c05812;
$font-medium-light: #f2cf8f;
$font-light: #dff9fb;

$font-first: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
